{% extends "__layout.html" %}
{% block content %}
<div class="font">
    <img src="/static/pictureme.jpg" class="pictureme_img" alt="не найдено">
    <figcaption class="about_me_text"><div class="text5">Личная фотография</div></figcaption>
    <ul class="text6">
        <li>ФИО: Моцкевич Дмитрий Вячеславович</li>
        <li>Группа: ИСТб-23-3</li>
        <li>Окончил: МБОУ Гимназия №1 г. Иркутска в 2023 году</li>
        <li>e-mail: praim200570@gmail.com</li>
        <li>Дата рождения: 12.02.2005</li>
        <li>Занимался такими видами спорта: биатлон(4 года), хоккей(4 года), плавание(2года)</li>
        <li>Личные достижения: создал 2 минивидеоигры на движке Unity </li>
    </ul>
</div>
{% endblock %}